body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(227, 225, 225);
    color:white
}

    ul{
        display: flex;
        justify-content:space-around;
        list-style-type: none;
        align-items: center;
        padding: 10px;
    }

a{
    color: rgb(125, 96, 156);
    text-decoration:none
}
img{
    width: 150px;
    height: 150px;
    border-radius:  50%;
    border: 3px solid rgb(195, 52, 161);
}
.center{
    text-align: left;
}
h1{ 
    align-items: normal;
    color: rgb(196, 18, 116);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
        color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
padding: 0px
}
h4{
    color: brown;
    display: list-item;
        justify-content:space-between;
        align-items: normal;
        padding: 20px;;
        list-style-type: decimal-leading-zero;
        -ms-text-align-last: auto;
}

nav a:hover{
    color: red;
}

